<div class="container-fluid ">
    <div class="row">
        <div class="col-9">
            <app-view [boats]="filteredBoats"></app-view>
        </div>
        <div class="col-3">
            <app-filter></app-filter>
            <div class="col-md-12 text-center">
                <a class="btn btn-primary mt-3 " (click)="filterBoats()" role="button">Filter</a>
            </div>
            <!--sorter-->
            <div class="container fontContainer mt-3">
                <div class="col p-3" style="border: 1px solid gray;">
                    <h6 class="text-center">Sort by:</h6>
                    <div class="form-check">
                        <input class="form-check-input" (click)="setSorter('name')" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                        <label class="form-check-label" for="exampleRadios1">Name</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" (click)="setSorter('mark')" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label"  for="exampleRadios2">Mark</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" (click)="setSorter('location')" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                        <label class="form-check-label" for="exampleRadios3">Location</label>
                      </div>
                </div>
            </div>

        </div>
    </div>
</div>
