.fontContainer{
    font-size: 12px;
}

.filterArea{
    background-color: white;
    height: 100px;
}

.viewArea{
    background-color: white;
}

.filterBtn{
    margin-left: 10px;
    margin-right: 20px;
    align-self: center;
}