<mat-card class="container-card">
  <mat-card-title>{{adventure.name}}</mat-card-title>
  <mat-card-subtitle>{{adventure.fishingInstructor.firstName}} {{adventure.fishingInstructor.lastName}}</mat-card-subtitle>
  <mat-card-content>
    <p>{{adventure.description}}</p>
  </mat-card-content>
  <div class="buttons-container">
    <button class="detailed-button" color="view" mat-flat-button (click)="view()">Details</button>
    <div class="edit-delete-buttons">
    <input *ngIf="isAdventureOwner()" type="image" class="image" (click)="editAdventure()"
        src="assets/img/edit.png">
    <input *ngIf="isAdventureOwner()" type="image" class="image" (click)="deleteAdventure()"
        src="assets/img/delete.png">
    </div>
  </div>

</mat-card>
