.container-card {
  max-width: 400px;
}


.image {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
}
.buttons-container {
  display: flex;
}

.edit-delete-buttons {
  margin-left: auto;
}

.mat-view {
  background-color: #2D9645;
  color: #fff;
}
