
<div class="container">
  <a class="home" *ngIf="authService.isLoggedIn()" (click)="goToHome()">Home</a>
  <a class="boats" (click)="viewRouting('BOATS')">Boats</a>
  <a class="instructors"  (click)="viewRouting('INSTRUCTORS')">Instructors</a>
  <a class="homes"  (click)="viewRouting('HOLIDAY_HOUSES')">Holiday houses</a>
  <a class="profile" *ngIf="authService.isLoggedIn()" (click)="goToProfile()">Profile</a>
  <a class="account-deletions" *ngIf="authService.isAdmin()" routerLink="/account-deletions">Deletions</a>
  <a class="account-deletions" *ngIf="authService.hasIncome()" routerLink="/income">Income</a>
  <a class="logging" *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</a>
  <a class="logging" *ngIf="authService.isLoggedIn()" (click)="logOut()">Logout</a>
</div>
