


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" *ngIf="authService.isLoggedIn()" (click)="goToHome()">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="authService.isLoggedIn()" (click)="goToProfile()">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Holiday homes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  [routerLink]="" (click)="viewRouting('BOATS')">Boats</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="#">Instructors</a>
        </li>
      </ul>
      <form class="d-flex" style="margin-left: 1200px;">
          <a class="nav-link active" *ngIf="!authService.isLoggedIn()" routerLink="/login">Log in</a>
          <a class="nav-link active" *ngIf="authService.isLoggedIn()" (click)="logOut()">Log out</a>
      </form>
    </div>
  </div>
</nav>