<!-- <div class="row">
    <div class="col-3" *ngFor="let house of houses">
      <div class="card m-3 myCard">
        <div class="card-body">
          <img src="https://source.unsplash.com/random/800x800/?img=1" class="card-img-top myImage" alt="...">
          <h6 class="card-title">{{house.name}}</h6>
          <p class="card-text">{{house.description}}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Adress:{{house.adress}}</li>
            <li class="list-group-item">Price:{{house.price}}</li>
            <li class="list-group-item">Mark:{{house.mark}}</li>
          </ul>
        </div>
      </div>
    </div> -->

    <mat-grid-list cols="8" rowHeight="340px" >
      <mat-grid-tile colspan="2" *ngFor="let house of houses">
        <mat-card class="example-card" >
          <mat-card-title-group>
            <mat-card-title>{{house.name}}</mat-card-title>
            <mat-card-subtitle> 
              <ul class="reservationCard">
                <li class="card-item">Adress: {{house.adress}}</li>
                <li class="card-item">Price: {{house.price}}$</li>
                <li class="card-item">Mark: {{house.mark}}</li>
              </ul>
            </mat-card-subtitle>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
          <mat-card-content>
            {{house.description}}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>