

    <mat-grid-list cols="8" rowHeight="340px" >
      <mat-grid-tile colspan="2" *ngFor="let house of houses">
        <mat-card class="example-card" >
          <mat-card-title-group>
            <mat-card-title>{{house.name}}</mat-card-title>
            <mat-card-subtitle> 
              <ul class="reservationCard">
                <li class="card-item">Adress: {{house.address}}</li>
                <li class="card-item">Price: {{house.price}}$</li>
                <li class="card-item">Mark: {{house.mark}}</li>
              </ul>
            </mat-card-subtitle>
            <img mat-card-xl-image src="{{house.imgUrl}}" onerror="this.onerror=null; this.src='https://picsum.photos/id/308/200/300'" >
          </mat-card-title-group>
          <mat-card-content>
            {{house.description}}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>