
<div class="container">
  <div class="date-selects">
<mat-form-field>
  <input matInput type="datetime-local" placeholder="Start Date" [(ngModel)]="fromTime">
</mat-form-field>
<div>
<mat-form-field>
  <input matInput type="datetime-local" placeholder="End Date" [(ngModel)]="toTime">
</mat-form-field>
<button mat-flat-button color="primary" class="button" (click)="addAvailablePeriod()">Add</button>
</div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div>
        <button
        mat-flat-button color="primary"
        class="calendar-button"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        >
        Previous
        </button>
      </div>
      <div>
        <button
        mat-flat-button color="primary"
        class="calendar-button"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        >
        Today
        </button>
      </div>
      <div>
        <button
        mat-flat-button color="primary"
        class="calendar-button"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div>
        <button
        mat-flat-button color="primary"
        class="calendar-button"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
        >
        Month
      </button>
      </div>
      <div>
        <button
        mat-flat-button color="primary"
        class="calendar-button"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
        </button>
      </div>
      <div>
      <button
        mat-flat-button color="primary"
        class="calendar-button"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
</div>
