<mat-card class="container-card">
  <mat-card-title>Promotion</mat-card-title>
  <mat-card-subtitle>{{getDate(this.fishingPromotion.fromTime) | date}} - {{getDate(this.fishingPromotion.toTime) | date}}</mat-card-subtitle>
  <mat-card-content>
    <p>Valid until {{getDate(this.fishingPromotion.validUntil) | date}}</p>
    <p>Price: {{this.fishingPromotion.price}}</p>
  </mat-card-content>
  <div class="buttons-container">
    <div class="edit-delete-buttons">
    <input *ngIf="isAdventureOwner()" type="image" class="image" (click)="deletePromotion()"
        src="assets/img/delete.png">
    </div>
  </div>

</mat-card>
