<div class="container">
  <h2 mat-dialog-title>Account Deletion</h2>

  <form class="form" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="Email" formControlName="email" readonly/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Reason</mat-label>
      <textarea matInput type="text" placeholder="Reason for approval or denial" formControlName="reason"></textarea>
    </mat-form-field>
  </form>
  <div class="button-container">
    <button mat-flat-button color="primary" (click)="approve()">Submit</button>
    <button mat-flat-button color="warn" (click)="deny()">Deny</button>
    <button mat-flat-button color="warn" (click)="close()">Close</button>
  </div>
</div>
