<div class="registration-container">
  <h1>Registration Request</h1>
  <form class="form" [formGroup]="form">
    <div class="split-forms">
      <div class="left-form">
    <mat-form-field appearance="standard">
      <mat-label>Email Address</mat-label>
      <input matInput  placeholder="Email Address" formControlName="email" readonly/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>First Name</mat-label>
      <input matInput  placeholder="First Name" formControlName="firstName" readonly/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input matInput  placeholder="Last Name" formControlName="lastName" readonly/>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Phone Number</mat-label>
      <input matInput  placeholder="Phone Number" formControlName="phoneNumber" readonly/>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Role</mat-label>
      <input matInput  placeholder="Phone Number" formControlName="role" readonly/>
    </mat-form-field>

  </div>
    <div class="address">
      <mat-form-field appearance="standard">
        <mat-label>Country</mat-label>
        <input matInput  placeholder="Country" formControlName="country" readonly/>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>City</mat-label>
        <input matInput  placeholder="City" formControlName="city" readonly/>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Street And Number</mat-label>
        <input matInput  placeholder="Street And Number" formControlName="streetAndNumber" readonly/>
      </mat-form-field>
      <span class="explanation">
        <mat-form-field appearance="standard">
          <mat-label>Reason For Registration</mat-label>
          <textarea class="textarea" matInput placeholder="Reason For Registration" formControlName="explanation" readonly></textarea>
        </mat-form-field>
      </span>

    </div>
  </div>
    <div class="button-holder">
      <button class="register-button" mat-flat-button color="primary" (click)="approve()">Approve</button>
      <button class="register-button" mat-flat-button color="warn" (click)="deny()">Deny</button>
    </div>
  </form>
</div>
