<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Reserve</b>
        </mat-panel-title>
        <mat-panel-description>
          fill out reservation form
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="startingDate" [matDatepicker]="picker1" >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="endingDate" [matDatepicker]="datepicker" >
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

  
      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Person num:</mat-label>
        <input matInput [(ngModel)]="personNum" type="number" min="1" max="">
      </mat-form-field>

     <div>
        <label><b>Calculated price: </b></label>
        <label for="totalPrice" >{{totalPrice.toFixed(2)}}$</label>
        <button mat-raised-button style="margin-left: 10px;" (click)="calculatePrice()">Calculate</button>
        <label  style="margin-left: 200px;" [style.color]="!available? 'red': 'green'">{{statusMessage}}</label>
     </div> 

      <mat-action-row>
        <button mat-button color="primary" (click)="reserve()">RESERVE</button>
      </mat-action-row>

      <section class="example-section">
        <label style="margin-left: 5px;" *ngFor="let service of services">{{service.name}}({{service.price}}$)
          <button   [disabled]="isServiceActivated(service.id)" (click)="addService(service)" mat-mini-fab style="background-color: green;" aria-label="Example icon button with a home icon">
            <mat-icon>check</mat-icon>
          </button>
          
          <button mat-mini-fab [disabled]="!isServiceActivated(service.id)"  (click)="cancelService(service)" style="background-color: red;" aria-label="Example icon button with a home icon">
            <mat-icon>cancel</mat-icon>
          </button>
        </label>
        
      </section>

    </mat-expansion-panel>

</mat-accordion>