<div class="row">
  <div class="col-3" *ngFor="let boat of boats">
    <div class="card m-3 myCard">
      <div class="card-body">
        <img src="https://source.unsplash.com/random/800x800/?img=1" class="card-img-top myImage" alt="...">
        <h6 class="card-title">{{boat.name}}</h6>
        <p class="card-text">{{boat.description}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Adress:{{boat.adress}}</li>
          <li class="list-group-item">Price:{{boat.price}}</li>
          <li class="list-group-item">Mark:{{boat.mark}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
