.container {
    display: flex;
    flex-direction: column;
    margin: 50px 8%;
  
  
  }
  
  .mat-cancel {
    background-color: #2D9645;
    color: #fff;
  }
  
  .menu-button {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  