<div class="container">
  <h1>Pending Reservation</h1>
  <form class="form" [formGroup]="form">
      <div class="left-form">
    <mat-form-field appearance="standard">
      <mat-label>Reservation Name</mat-label>
      <input matInput  placeholder="Email Address" formControlName="name" readonly/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>First Name</mat-label>
      <input matInput  placeholder="First Name" formControlName="firstName" readonly/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input matInput  placeholder="Last Name" formControlName="lastName" readonly/>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Start Date</mat-label>
      <input matInput type="datetime-local" placeholder="Start Date" formControlName="startDate" readonly>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>End Date</mat-label>
      <input matInput type="datetime-local" placeholder="End Date" formControlName="endDate" readonly>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Price</mat-label>
      <input matInput  placeholder="Price" formControlName="price" readonly/>
    </mat-form-field>
  </div>
    <div class="button-holder">
      <button class="close-button" mat-flat-button color="primary" (click)="approve()">Approve</button>
      <button class="close-button" mat-flat-button color="warn" (click)="close()">Close</button>
    </div>
  </form>
</div>
