.fontContainer{
    font-size: 12px;
}

.reservationsView{
    margin: 5px;
    padding: 0px;
}

.filterArea{
    background-color: white;
    height: 100px;
}

.viewArea{
    background-color: white;
}

