.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
  
  }
  
  .left-container, .middle-container  {
    display: flex;
    flex-direction: column;
    //align-items: center;
    margin-top: 20px;
  }
  .right-container {
    display: flex;
    flex-direction: row;
    //align-items: center;
    margin-top: 20px;
  
  }
  
  .address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    display: flex;
  }
  
  
  .item {
    max-width: 1000px;
  }
  
  mat-form-field {
    width: 250px;
    margin: 10px 25px;
  }
  
  .button {
    margin-top: 30px;
    width: 90px;
    height: 40px;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .textarea {
    min-height: 40px;
  }
  
  .map {
    margin-left: 100px;
    height: 400px;
    width: 500px;
  }
  
  ::ng-deep .mat-form-field-appearance-standard {
    padding-top: 10px;
  }
  ::ng-deep .mat-form-field-infix{
    border-top: 0.1em solid transparent;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reservationButton{
    margin-left: 10px;
    margin-right: 20px;
    align-self: center;
  }
  
  .title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 42px;
    margin-bottom: 5px;
  }
  
  .owner-name {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
    margin-top: 5px;
  }
  
  .about  {
    display: flex;
    flex-direction: row;
  }
  .service-container, .picture-container {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .additional-services, .pictures, .promotions {
    display: flex;
  }
  
  .promotion-list {
    display: flex;
  }
  
  .image{
    width: 28px;
    margin-left: 10px;
  }
  
  .service-item, .picture-item {
    margin: 10px;
  
  }
  .about > div {
    margin: 30px;
  }
  
  .text {
    min-width: 300px;
    max-width: 400px;
  }
  
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .map {
    margin-top: 40px;
    border-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
  
  }
  
  