<div class="container">
    <h1>{{getTitle()}}</h1>
    <form class="form-container" [formGroup]="addHomeForm">
    <div class="left-container">
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name"  formControlName="name"/>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <textarea class="textarea" matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Number of Rooms</mat-label>
        <input type="number" matInput placeholder="Number of Rooms" formControlName="roomsPerHome"/>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Number of Beds per Room</mat-label>
        <input type="number" matInput placeholder="Number of Beds per Room" formControlName="bedsPerRoom"/>
      </mat-form-field>
    </div>
    <div class="middle-container">
      <mat-form-field appearance="standard">
        <mat-label>Rules of Conduct</mat-label>
        <textarea class="textarea" matInput placeholder="Rules of Conduct" formControlName="rulesOfConduct"></textarea>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Additional information</mat-label>
        <textarea class="textarea" matInput placeholder="Additional information" formControlName="additionalInfo"></textarea>
      </mat-form-field>
      <div *ngIf="editMode" appearance="standard">
        <mat-label>Add interior picture</mat-label>
        <input  type="image" class="image" (click)="addPicture(true)"
        src="assets/img/plus.svg">
        <div class="picture-container">
          <div *ngFor="let picture of interior" class="picture-item">
            <mat-card class="container-card">
              <img mat-card-image [src]="picture.link" alt="Broken image">
              <div class="buttons-container">
                <div class="delete-button">
                <input type="image" class="image" (click)="deletePicture(picture, true)"
                    src="assets/img/delete.png">
                </div>
              </div>
            </mat-card>
          </div>
        </div>

        <mat-label>Add exterior picture</mat-label>
        <input  type="image" class="image" (click)="addPicture(false)"
        src="assets/img/plus.svg">
        <div class="picture-container">
          <div *ngFor="let picture of exterior" class="picture-item">
            <mat-card class="container-card">
              <img mat-card-image [src]="picture.link" alt="Broken image">
              <div class="buttons-container">
                <div class="delete-button">
                <input type="image" class="image" (click)="deletePicture(picture, false)"
                    src="assets/img/delete.png">
                </div>
              </div>
            </mat-card>
          </div>
        </div>


        
        <span class="promotions">
          <h3>Promotions</h3>
          <input type="image" class="image" (click)="addPromotion()"
              src="assets/img/plus.svg">
            </span>
            <div class="promotion-list">
            <div *ngFor="let promotion of promotions" class="service-item">
              <app-home-promotion-card [homePromotion]="promotion" (promotionDeleted)="deletePromotion($event)"></app-home-promotion-card>
            </div>
            </div>
        
      </div>
      
    </div>
    <div class="right-container">
      <div class="address-container">
        <mat-form-field appearance="standard">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country"  formControlName="country"/>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>City</mat-label>
          <input matInput placeholder="City"  formControlName="city"/>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Street and Number</mat-label>
          <input matInput placeholder="Street and Number"  formControlName="streetAndNumber"/>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Latitude</mat-label>
          <input type="number" matInput placeholder="Latitude"  formControlName="latitude"/>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Longitude</mat-label>
          <input type="number" matInput placeholder="Longitude"  formControlName="longitude"/>
        </mat-form-field>
        
        <div class="button-container">
        <button mat-flat-button color="primary" (click)="editMode ? editHome() : createHome()" class="button">{{getButtonText()}}</button>
        <button mat-flat-button color="warn" (click)="Cancel()" class="button">Cancel</button>
      </div>
      <div class="map" (click)="getCoord($event)" id="map"></div>
      </div>
        
    </div>
  </form>

  <div *ngIf="editMode" class="date-selects">
    <h3>
      Add available period
    </h3>
    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Start Date" [(ngModel)]="fromTime">
    </mat-form-field>
    <div>
    <mat-form-field>
      <input matInput type="datetime-local" placeholder="End Date" [(ngModel)]="toTime">
    </mat-form-field>
    <button mat-flat-button color="primary" class="button" (click)="addAvailablePeriod()">Add</button>
    </div>
    </div>

  </div>
  