

  
    <mat-grid-list cols="8" rowHeight="340px">
      <mat-grid-tile colspan="2"  *ngFor="let reservation of reservations">
        <mat-card class="example-card" >
          <mat-card-title-group>
            <mat-card-title>{{reservation.name}}</mat-card-title>
            <mat-card-subtitle> 
              <ul class="reservationCard">
                <li class="card-item">Adress: {{reservation.address}}</li>
                <li class="card-item">Price: {{reservation.price}}$</li>
                <li class="card-item">Mark: {{(reservation.mark==0)? "Not assigned" : reservation.mark}}</li>
                <li type="date" class="card-item">
                    <label class="mr-2">Start date:</label>
                    <input type="date" style="width: 150px;" [value]="reservation.startDate | date:'yyyy-MM-dd'" disabled>
                </li>
                <li type="date" class="card-item">
                  <label class="mr-2">Start time:</label>
                  <input type="" style="width: 150px;" [value]="showTime(reservation.startDate)" disabled>
              </li>
                <li class="card-item">Duration: {{(reservation.durationInHours < 24)? reservation.durationInHours + "h" : reservation.durationInHours/24 + "d" }}</li>
                <li class="card-item">Status: {{(reservation.approved)? "Approved" : "Pending"}}</li>
              </ul>
            </mat-card-subtitle>
            <img mat-card-xl-image src="{{reservation.imgUrl}}" onerror="this.onerror=null; this.src='https://picsum.photos/id/27/100/300'" >
          </mat-card-title-group>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
      
  

    
