<div class="container fontContainer mt-3">
    <div class="col p-3" style="border: 1px solid gray;">
        <h6 class="text-center">Filters:</h6>
        
        <div class="row pt-2" >
            <div class="col-3 my-auto">
                <label for="">Name:</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" >
            </div>
        </div>
    
        <div class="row pt-2" >
            <div class="col-3 my-auto">
                <label for="">Adress:</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" >
            </div>
        </div>
    
    
        <div class="row pt-2">
            <div class="col-3 my-auto">
                <label for="">Mark range:</label>
            </div>
            <div class="col-9 m-auto">
                <div class="row">
                    <input type="range" class="form-range col-8 ml-3 pt-4" min="0" max="5" step="1" id="mark">
                    <input type="text" id="textInput" class="mt-2 ml-2 col-2" disabled value="">
                </div>
            </div>
        </div>
    
        <div class="row pt-2 ml-0">
            <div class="my-auto text-center">
                <label for="">Free dates:</label>
            </div>
            <div class="row" style="padding-top: 15px;">
                <div class="col-6">
                    <input type="datetime-local" class="form-control" name="datepicker">
                </div>
                
                <div class="col-6">
                    <input type="datetime-local" class="form-control" name="datepicker" >
                </div>
            </div>
        </div>
    </div>
</div>
