.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
  
  }
  
  .left-container, .middle-container  {
    display: flex;
    flex-direction: column;
    //align-items: center;
    margin-top: 20px;
  }
  .right-container {
    display: flex;
    flex-direction: row;
    //align-items: center;
    margin-top: 20px;
  
  }
  
  .address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    display: flex;
  }
  
  
  .item {
    max-width: 1000px;
  }
  
  mat-form-field {
    width: 250px;
    margin: 10px 25px;
  }
  
  .button {
    margin-top: 30px;
    width: 90px;
    height: 40px;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .textarea {
    min-height: 40px;
  }
  
  .map {
    margin-left: 100px;
    height: 400px;
    width: 500px;
  }
  
  ::ng-deep .mat-form-field-appearance-standard {
    padding-top: 10px;
  }
  ::ng-deep .mat-form-field-infix{
    border-top: 0.1em solid transparent;
  }
  
  