<div class="container">
  <h2 mat-dialog-title>Change Fee</h2>

  <form class="form" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Service Fee</mat-label>
      <input matInput type="number" placeholder="Fee" formControlName="fee" />
      <mat-hint>Value in percentages</mat-hint>
    </mat-form-field>
  </form>

  <div class="button-container">
    <button mat-flat-button color="primary" (click)="save()">Save</button>
    <button mat-flat-button color="warn" (click)="close()">Close</button>
  </div>
</div>
