<div class="registration-container">
  <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="standard">
      <mat-label>Email Address</mat-label>
      <input matInput  placeholder="Email Address" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput  placeholder="Password" type="password" formControlName="password" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>First Name</mat-label>
      <input matInput  placeholder="First Name" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Last Name</mat-label>
      <input matInput  placeholder="Last Name" formControlName="lastName" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Street And Number</mat-label>
      <input matInput  placeholder="Street And Number" formControlName="streetAndNumber" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Phone Number</mat-label>
      <input matInput  placeholder="Phone Number" formControlName="phoneNumber" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>City</mat-label>
      <input matInput  placeholder="City" formControlName="city" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Country</mat-label>
      <input matInput  placeholder="Country" formControlName="country" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type Of User</mat-label>
      <select matNativeControl required formControlName="role">
        <option value="ROLE_CLIENT">Client</option>
        <option value="ROLE_BOAT_OWNER">Boat Owner</option>
        <option value="ROLE_FISHING_INSTRUCTOR">Fishing Instrcutor</option>
        <option value="ROLE_HOME_OWNER">Home Owner</option>
      </select>
    </mat-form-field>

    <span *ngIf="isProvider()">
      <mat-form-field appearance="standard">
        <mat-label>Reason For Registration</mat-label>
        <textarea class="textarea" matInput placeholder="Reason For Registration" formControlName="explanation"></textarea>
      </mat-form-field>
    </span>
    <div class="button-holder">
      <button class="register-button" mat-flat-button color="primary" type="submit" [disabled]="!registrationForm.valid">Register</button>
    </div>
  </form>
  <div *ngIf="registrationFailed" class="failed-registration">Registration failed</div>
</div>
