.registration-container, .left-form, .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.registration-container{
  margin-top: 30px;
}

.left-form, .address {
  margin: 30px;
}

.explanation {
  min-height: 70px;
}


.split-forms {
  display: flex;

}

.form {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

}

.mat-spinner{
  margin-top: 5px;
  margin-left: 20px;
}
