.container {
    margin: 50px 8%;
  }
  
  .menu-container {
    display: flex;
    flex-direction: row;
  }
  
  .menu-button {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  
  
  .search {
    position: relative;
    border-radius: 1px;
    text-align: center;
    padding: 0 0 0 10px;
    width: 330px;
    margin-left: auto;
  }
  
  .input {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    height: 35px;
    margin: 0;
    padding-left: 5px;
    padding-right: 30px;
    width: 300px;
  }
  
  
  .mag-glass {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    max-width: 24px;
    right: 1px;
    top: 8px;
    opacity: 1;
    z-index: 2;
  }
  .search:placeholder-shown .mag-glass {
    opacity: 0.5;
  }
  
  
  
  