name: Main Branch
on:
  push:
    branches:
      - 'main'
jobs:
  test:
    env:
      working-directory: ./fishing-booking-back
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Maven Package
        working-directory: ${{env.working-directory}}
        run: mvn clean package
      - name: Maven Verify
        working-directory: ${{env.working-directory}}
        run: mvn clean verify